.header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #1C1C21;
}

.logo {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 0;    
}
