.contentbody {
  composes: contentbody  from './sign-in.module.css';
}
.formholder {
  composes: formholder  from './sign-in.module.css';
}
.formholder > h1 {
  margin: 0;
}
.input_field {
  composes: input_field  from './sign-in.module.css';
}
.additional_actions {
  composes: additional_actions from './sign-in.module.css';
}

.registration_btn_p {
  composes: registration_btn_p from './sign-in.module.css';
}
.registration_btn_a {
  composes: registration_btn_a from './sign-in.module.css';
}
