.contentbody {
  position: relative;
  width: 100vw;
  height: calc(100vh - 82px);
  margin: 0;
  padding: 0;
}
.formholder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.formholder > h1 {
  margin: 0;
}
.input_field {
  position: relative;
}
.additional_actions {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.registration_btn_p {
  color: rgba(133, 133, 173, 1);
  margin: 0;
  padding: 0;  
}
.registration_btn_a {
  color: rgba(76, 76, 255, 1);
  margin: 0;
  cursor: pointer;
  text-decoration: none;  
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
